.transactionModule-container {
  height: 92vh;
  padding: 20px;
  overflow: scroll;
}
.search-date-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
}
.date-dropdown-div {
  width: 20%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.dropdown-item-btn {
  width: 120px;
  margin-top: 7px;
  /* cursor: pointer; */
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.trip-details-container {
  width: 100%;
  background-color: white;
  border-radius: 12px;
}
.trip-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
}
.trip-manifest-title {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
}
.title-values-div {
  display: flex;
}

.title {
  color: rgba(0, 0, 0, 0.719);
  font-weight: 200;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.value {
  color: rgba(0, 0, 0, 0.719);
  font-weight: bold;
  font-size: 12px;
}

.dashed-line {
  width: 97.5%;
  border-bottom: dashed rgba(125, 125, 125, 0.5) 1px;
  margin: 0 auto;
}

.tableContainer {
  width: 100%;
  padding: 15px;
}

.tableContainer th {
  background-color: rgba(46, 49, 49, 0.15) !important;
  color: #333 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  letter-spacing: 0.5px;
  /* border-color: gray !important; */
}

.tableContainer td {
  font-size: 11px;
  font-weight: 300 !important;
  color: black;
}

@media screen and (max-width: 1000px) {
  .title-values-div {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .trip-details {
    padding-right: 0;
  }
}
