.transactionModule-container {
  /* height: 92vh; */
  padding: 20px;
}
.search-date-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.details-container {
  background-color: white;
  display: flex;
  border-radius: 12px;
}

.seatMap-container {
}
.bus-image {
  width: 100%;
}

.trip-details-container {
  width: 100%;
}
.trip-details {
  display: flex;
  padding: 20px 20px 10px 20px;
}

.title {
  color: rgba(0, 0, 0, 0.719);
  font-weight: 200;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.value {
  color: rgba(0, 0, 0, 0.719);
  font-weight: bold;
  font-size: 12px;
}

.dashed-line {
  width: 97.5%;
  border-bottom: dashed rgba(125, 125, 125, 0.5) 1px;
  margin: 0 auto;
}

.table-container {
  width: 100%;
  padding: 15px;
}

.table-container th {
  background-color: rgba(46, 49, 49, 0.5) !important;
  color: white !important;
  font-size: 11px !important;
  font-weight: 500 !important;
}
