.home-header {
  background-color: #348f80;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8vh;

  padding: 0 40px;
}

.header-logo {
  height: 65px;
  min-width: 150px;

  cursor: pointer;
}

.user-icon {
  color: white;
  margin-right: 3px;
  font-size: 16px;
}

/* .welcome-message-div {
  min-width: 230px;
} */

.welcome-message {
  color: white;
  font-size: 16px;
}
